---
layout: default
title: Blog
nav: yes
bg: "#111 url('/images/mt-elbert.jpg') no-repeat top center; background-size: cover;"
---
<div class="page-heading">
    <h1>Archive</h1>
</div>

<div class="home">


  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              {{ post.title }}
            </h2>
            <p><em>Tags: {% if post.tags %}{{ post.tags | join: ', ' }}{% endif %}</em></p>
        </a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
