<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Contact Justin</h2>

    <div class="row">
      <div class="half">
        <ul class="contact-list">
          <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="https://twitter.com/jwmunn">Twitter</a> &middot <a href="https://dribbble.com/jwmunn">Dribbble</a> &middot <a href="https://github.com/jwmunn">Github</a> &middot <a href="https://www.instagram.com/jwmunn/">Instagram</a> &middot <a href="https://www.linkedin.com/in/jwmunn">LinkedIn</a></li>
        </ul>
      </div>
      <div class="half">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
