
{% if post.title %}
    <div class="row">
        <a class="post-link" href="{{ root_url }}{{ post.url }}">
            <img class="col-4" src="{{ post.archive-img }}" />
            <div class="col-8">
                <h2>{{ post.title }}</h2>
                <h5>Tags: {% if post.tags %}{{ post.tags | join: ', ' }}{% endif %}</h5>
                <div class="entry-content">{{ post.excerpt }}</div>
            </div>
        </a>
    </div>
   <!--
 <div class="row">
        <p class="col-8"><a href="{{ root_url }}{{ post.url }}">Read More</a></p>
    </div>
-->
{% endif %}