<!DOCTYPE html>
<html>

  {% include head.html %}

  {% if page.title == 'Justin Munn-Web designer and developer' %}
  <body class="light-grey">
  {% elsif page.title == 'Blog' %}
  <body class="light-grey">
  {% else %}
  <body>
  {% endif %}
    {% include header.html %}
    <div class="page-content">
      <div>
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    <script src="https://use.typekit.net/hix0trm.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>
